.main-container {
    display: flex;

    flex-direction: column;
}

.title-shop-by-category {
    text-align: center;
}

.title-shop-by-category-text {
    display: inline-flex;

    justify-content: center;
    padding: 12px 20px;
    font-size: 40px;
}
