.main-container {
    /* border: 10px solid black; */
    /* height: 100vh; */
    display: flex;

    flex-direction: column;
}

.content-bar {
    /* border: 10px solid blue; */
    /* padding: 20px 70px; */
    /* display: flex;
  flex-direction: column; */
    /* background-color: white; */
    /* background-color: #eff3f6; */
}

.title-shop-by-category {
    text-align: center;
    /* border: 3px solid #faedeb; */
    /* background-color: #faedeb !important; */
}

.title-shop-by-category-text {
    /* border: 10px solid blue; */
    display: inline-flex;
    /* border: 3px solid #faedeb; */

    justify-content: center;
    padding: 12px 20px;
    font-size: 40px;
    /* font-weight: bold; */
    /* background-color: #faedeb !important; */
    /* text-decoration: underline 5px solid #faedeb; */
}
