.selected-cat-main-page {
    display: flex;
}

.left-container {
    /* border: 10px solid red; */
    flex: 1;
}

.right-container {
    background-color: #eef3f6;
    padding: 10px 40px;
    flex: 3;
}
