.categoryPopUp {
  border: 1px solid red;
  background-color: green;
  width: 100%;
  height: 20vh;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}

.brand-names {
  border: 1px solid black;
  display: inline-flex;
}

/* que */
/* aama position reletive body ne nathi 
aapta to pn aa km kam kre? */

/* notes */
/* ola ma side mathi aave aa mate aapde onclick
btn nd position pop ma rakhta ta pn aa css thi kartata
ke click thay atle 

ama already screen ma exist krtitu
ama dom ma exist j nathi kartu

ama hover krine translate transform thi uper thi niche screen 
ma lavanu nathi
ama exist j nathi karavanu
*/
