.caro-main-box {
    /* border: 10px solid black; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.carousel-container {
    /* border: 10px solid red; */
    height: 60vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0.375rem;
    position: relative;
}

.image {
    /* border: 10px solid black; */
    height: 100%;
    background-attachment: fixed;
    border-radius: 0.375rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    width: 100%;
}

.left-slide-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    left: 5px;
    border: 1px solid #eff3f6;
    color: black;
    font-size: 22px;
    border-radius: 30px;
    background-color: #eff3f6;
    top: calc(30vh - 20px);
}

.right-slide-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
    right: 5px;
    border: 1px solid #eff3f6;
    color: black;
    font-size: 22px;
    border-radius: 30px;
    background-color: #eff3f6;
    top: calc(30vh - 20px);
}

.text-on-carousel {
    /* border: 10px solid red; */
    position: absolute;
    top: calc(20vh - 20px);
    left: 5%;
    height: 300px;
    width: 400px;
    color: white;
}
.lestest-trend-text {
    font-size: 40px;
    font-weight: bold;
}

.free-shipping-detail {
    font-size: 25px;
}

.only-on-zyntra {
    font-size: 25px;
}

.shop-now-carousel {
    font-size: 22px;
    border: 1px solid white;
    display: block;
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 0.375rem;
}
