.products-container {
    /* border: 20px solid red; */
    display: flex;
    padding: 30px 0px 100px 0px;
    justify-content: center;
}

.inside-product-container {
    /* border: 10px solid blue; */
    width: 80vw;
}
.single-card {
    cursor: pointer;
}

.card-img {
    height: 300px;
}

.card-body {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-name {
    font-size: 20px;
}

.shop-now {
    font-size: 18px;
}
.shop-now:hover {
    text-decoration: 2px solid underline;
}
